html, body{
    height: 100%;
    overflow: hidden;
}

body{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Game Of Thrones";
    src: url("../fonts/Game of Thrones.ttf");
}

section{
    display: flex;
    width: 100%;
    height: 100%;
}

.left-content{
    width: 50%;
    height: 100%;
    background-image: url("../images/wfSLtnqg.jpeg");
    background-size: cover;
    background-position: center center;
}

.right-content{
    width: 30%;
    height: 100%;
    background-image: url("../images/rSfseE6k.png");
    padding: 0 10% 0 10%;
}

.right-content__head{
    color: #d3bb89;
    text-align: center;
    padding: 40px 0 20px 0;
    font-family: "Game Of Thrones", serif;
    font-weight: normal;
    font-size: 30px;
}

.alert {
    padding-left: 15px;
    border-left: 2px solid #d3bb89;
    color: #fef8eb;
    display: block;
    font-family: sans-serif, open;
}

.AboutMeForm{
    padding: 30px 0 30px 0;
}

.AboutMeForm__question{
    color: #d3bb89;
    font-size: 22px;
}

.AboutMeForm__hint{
    display: block;
    color: #fef8eb;
    font-size: 12px;
    font-family: sans-serif, open;
}

.AboutMeForm__text{
    padding-bottom: 10px;
    margin: 20px 0 20px 0;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #d3bb89;
    font-size: 20px;
    color: #fef8eb;
    outline: none;
}

.AboutMeForm__location{
    margin: 20px 0 20px 0;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #d3bb89;
    font-size: 20px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-bottom: 10px;
    color: #fef8eb;
}

.AboutMeForm__location:hover{
    cursor: pointer;
}

.AboutMeForm__location option{
    background-color: #202020;
}

.AboutMeForm__aboutMyself {
    margin-top: 20px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 2px solid #d3bb89;
    outline: none;
    color: #fef8eb;
    font-size: 20px;
    resize: none;
    font-family: sans-serif, open;
}

.AboutMeForm__submitSave{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #c19a49;
    font-size: 20px;
    color: #fef8eb;]
}

.AboutMeForm__submitSave{
    cursor: pointer;
}

.AboutMeForm__remember{
    display: none;
}

.AboutMeForm__remember + label{
    cursor: pointer;
    padding-left: 20px;
}

.AboutMeForm__remember + label:before{
    content: " ";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #d3bb89;
    border: 2px solid #d3bb89;
    vertical-align: middle;
    margin-left: -10px;
    margin-right: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
    transition: .2s;
}

.AboutMeForm__remember:checked + label:before{
    font-size: 14px;
    text-align: center;
    content: "\2714";
    color: #d3bb89;
    background: none;
}