body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

header {
    display: flex;
    width: 80%;
    padding: 5px 10% 5px 10%;
    justify-content: space-between;
}

.logo h1 {
    font-size: 50px;
    margin: 0;
    color: #1abc9c;
}

.logo h1:first-letter {
    color: black;
}

nav {
    width: 80%;
    text-transform: uppercase;
}

nav ul {
    text-align: right;
}

nav li {
    margin: 0 5% 0 5%;
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
    color: #6a6971;
}

section {
    display: flex;
    padding: 70px 10% 70px 10%;
    background-color: #16a085;
    width: 80%;
    color: white;
}

section:nth-child(odd) {
    color: black;
    background-color: white;
}

.apple {
    padding-left: 5%;
    padding-right: 5%;
}

.apple img {
    width: 400px;
}

.description {
    margin-top: 5%;
}

.description h2 {
    font-size: 30px;
    margin: 0;
}

.description p {
    font-size: 20px;
    padding: 50px 0 50px 0;
}

.button {
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.skills {
    display: flex;
    text-align: center;
    padding: 5px;
}

.icon {
    margin: 0 auto;
    background-color: #16a085;
    padding: 30px;
    font-size: 50px;
    color: white;
    border-radius: 50%;
    width: 60px;
}

.item p{
    color: #6a6971;
}

.contact {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.contact h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 30px;
}

.contact form {
    width: 100%;
}

.contact form input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea {
    font-size: 15px;
    width: 100%;
    height: 30px;
    margin: 5px 0 5px 0;
    padding-left: 10px;
    box-sizing: border-box;
    resize: none;
}

.contact form textarea {
    height: 100px;
}

.buttonForm {
    display: flex;
}

.contact form input[type="submit"], input[type="reset"] {
    cursor: pointer;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 40px 10px 40px;
    background: none;
    border: 2px solid white;
    border-radius: 10px;
    margin: 30px auto;
    white-space: nowrap;
}

.allInput{
    display: block;
    color: white;
    width: 100%;
}
.allInput input{
    display: block;
}
.allInput label{
    padding-right: 20px;
    float: left;
}

.sex{
    display: flex;
}
