@font-face {
    font-family: BlackJar;
    src: url(../fonts/BLACKJAR.TTF);
}

<<<<<<< HEAD
a {
=======
a{
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

<<<<<<< HEAD
.content {
    padding: 0 10px;
    margin: 0 auto;
    height: 100%;
}

.header {
    background: #61C0E7;
    height: 650px;
}

.iphone {
    background: url("../images/iphone.png") no-repeat bottom -215px left 80px;
}

.ipad {
    background: url("../images/ipad.png") no-repeat bottom -100px right -100px;
}

.devices {
    background: url("../images/devices.png") no-repeat bottom -100px left -50px;
}

.header__header {
=======
.section__header {
    background-color: #63C2E7;
    height: 650px;
    overflow: hidden;
    position: relative;
}

.content {
    padding: 0 200px;
}

.menuLine {
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

<<<<<<< HEAD
.header__info {
    margin-top: 65px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__headline {
    font-size: 70px;
    font-family: BlackJar, sans-serif;
}

.header__text {
    margin: 35px 0 45px;
    font-size: 31px;
}

.button {
    border: 2px solid;
    border-radius: 2px;
    padding: 20px 25px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

=======
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
.logo {
    background-color: white;
    font-family: 'Kaushan Script', cursive;
    color: #0DA9E5;
    width: 100px;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    box-shadow: 0 4px #0DA9E5, 14px 15px #26B0E6;
}

.header__menu {
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.sayHello {
    background-color: #F4F4F4;
    height: 650px;
}

.sayHello__info {
    padding-top: 140px;
    width: 550px;
}

.sayHello__headline {
    font-size: 33px;
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: 400;
}

.sayHello__text {
    padding-top: 10px;
    font-size: 16px;
}

.sayHello__quote {
    display: inline-block;
    margin-top: 25px;
    border-left: 7px solid #4EACDD;
    padding-left: 15px;
}

.sayHello__button {
    display: inline-block;
    color: #14AF8F;
}

.getADog {
    height: 650px;
}

.getADog__wrapper {
    width: 100%;
=======
}

.menu {
    display: flex;
    font-size: 28px;
    align-items: center;
    color: white;
    cursor: pointer;
}

.phone {
    position: absolute;
    bottom: -30%;
    left: 300px;
    transition: bottom 0.8s;
}

.phone:hover {
    bottom: -20%;
}

.greeting {
    margin-top: 50px;
}

.greeting__name, .greeting__hint, .greeting__button {
    display: flex;
    justify-content: flex-end;
    color: white;
}

.greeting__name {
    font-size: 70px;
    font-family: BlackJar, sans-serif;
    padding-top: 15px;
}

.greeting__hint {
    font-size: 31px;
}

.greeting__hint-strong {
    font-weight: bold;
}

.greeting__button {
    display: flex;
    justify-content: flex-end;
}

.button {
    border: 2px solid white;
    padding: 15px;
    text-transform: uppercase;
    color: white;
}

.contentBlock {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 145px 0;
}

.contentBlock-gray {
    background-color: #F4F4F4;
}

.contentBlock-leftContent {
    display: flex;
    justify-content: flex-start;
}

.contentBlock-rightContent {
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
    display: flex;
    justify-content: flex-end;
}

<<<<<<< HEAD
.getADog__info {
    padding-top: 100px;
    width: 395px;
}

.getADog__headline {
    font-size: 33px;
    margin-top: 5px;
    text-transform: capitalize;
    font-weight: 400;
    color: #5D5D5D;
}

.getADog__text {
    color: #4A515F;
}

.getADog__text--grey {
    color: #909090;
}

.getADog__button {
    align-self: flex-start;
    margin-top: 30px;
    color: #EA4C89;
    display: inline-block;
}

.like {
    height: 325px;
    background-color: #13C3AE;
}

.like__info {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.like__headline {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 400;
}

.like__button {
    display: inline-block;
}

.subscription {
    height: 650px;
    background-color: #F4F4F4;
}

.subscription__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;

}

.subscription__socialLine {
    display: flex;
}

.subscription__social {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565656;
    border: 3px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.subscription__formLine {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.subscription__headline {
    margin-right: 25px;
    text-transform: capitalize;
}

.subscription__inputLine {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 20px;
}

.subscription__email {
    background: none;
    border: none;
=======
.contentBlock__bigContent {
    width: 550px;
}

.contentBlock__smallContent {
    width: 400px;
}

.contentBlock__header {
    color: #545454;
    text-transform: capitalize;
    font-size: 40px;
}

.contentBlock__text {
    width: 100%;
    color: #7e7e7e;
    margin: 35px 0;
}

.contentBlock__quote {
    width: 100%;
    color: #7e7e7e;
    margin-bottom: 70px;
    border-left: 6px solid #4EACDD;
    padding-left: 17px;
}

.contentBlock__button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 130px;
}

.button-green {
    color: #14AF8F;
    border: 2px solid #14AF8F;
}

.ipad {
    position: absolute;
    bottom: -30%;
    right: -50px;
    transition: all 0.8s;
}

.ipad:hover {
    bottom: -25%;
    right: -40px;
}

.device {
    position: absolute;
    bottom: -70px;
    left: -60px;
    transition: all 0.8s;
}

.contentBlock-green {
    background-color: #13C4AF;
}

.contentBlock-centerContent {
    display: flex;
    justify-content: center;
}

.button-center {
    margin: 0 auto;
}

.contentBlock-white {
    color: white;
}

.contentBlock__socials {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.contentBlock__social {
    height: 50px;
    width: 50px;
    border-radius: 500px;
    border: 2px solid #545454;
    color: #545454;
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}

.subscription__text {
    font-weight: bold;
    color: #545454;
    padding-right: 30px;
}

.subscription__form {
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 7px 10px;
}

.subscription__mail {
    background: none;
    border: none;
    font-weight: bold;
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
}

.subscription__send {
    color: #6EC5EA;
<<<<<<< HEAD
}

.footer{
    font-size: 12px;
    display: flex;
    height: 100px;
    align-items: center;
}

.footer__wrapper{
    margin: 0 auto;
    width: 960px;
    display: flex;
    justify-content: center;
}

.footer__link{
    color: #6EC5EA;
=======
    padding-right: 10px;
}

.footer{
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    color: #545454;
}

.footer__link{
    color: #6DC5EA;
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
}

#goToTop{
    position: fixed;
    right: 30px;
    bottom: 30px;
    outline: none;
    padding: 10px 15px;
    background-color: #F6F6F6;
    color: #545454;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid white;
}
<<<<<<< HEAD

@media only screen and (min-width: 1224px) {
    .content {
        width: 940px;
    }

    .header {
        text-align: start;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1224px) {
    .sayHello__info {
        padding-left: 50px;
    }

    .ipad {
        background-position: bottom -310px right -100px;
    }

    .getADog__info {
        padding-right: 50px;
    }

    .devices {
        background-position: bottom -45px left -30px;
        background-size: 600px auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .header {
        height: 800px;
    }

    .header__info {
        align-items: center;
        text-align: center;
    }

    .iphone {
        background: url("../images/iphone.png") no-repeat bottom -300px;
    }

    .sayHello {
        height: 700px;
    }

    .sayHello__info {
        margin: 0 auto;
        padding: 50px 20px 0;
        width: auto;
    }

    .ipad {
        background-position: bottom -400px right -100px;
    }

    .getADog {
        height: 550px;
    }

    .getADog__info {
        padding: 30px;
    }

    .devices {
        background-position: bottom -20px left -20px;
        background-size: 300px auto;
    }

    .subscription__social{
        margin: 25px 10px;
    }

    .subscription__formLine{
        display: block;
    }

    .subscription__headline{
        text-align: center;
        padding-bottom: 20px;
    }
}

=======
>>>>>>> bb61feb92e794bf918269355e44abb5fa0ac1be0
